@inherits RadzenComponentWithChildren


<h3 style="color: #cc7a00 ; padding: @val ; height: @(val*20)">TestComponent val=@val</h3>
<div class="mycard">
    @ChildContent
</div>
<h4>@someText</h4>
<h3>end of component</h3>

